.app {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

@-webkit-keyframes wellcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wellcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
